td{
height: 100px;
width: 500px;
}
/*label{color: red}*/
#on {
	
display: flex;
	flex-direction: row;
	width: 100%
}
#one div{
/*float: left;*/
}
.l{
	float: left;
}
.r{
	text-align: right;
}

h4{
	width: auto;
	/*display: inline-block;*/
border-style: solid;
border-color: red;
}
/*.cin{clear: both;*/
/*display: inline-block;*/
	
/*}*/
.cin{
	padding-top: 5px;

	display: flex;
	flex-direction: column;
	width: 100%
}
.cin div{
width: 100%;
clear: both;
margin-top: 20px;
	height: 0.8px;
	background-color: black;
}
.ht{transform: rotate(3deg);}
.js{transform: rotate(-2deg);}
